## Lecture summary

- Text strings (continued)
- Exceptions and error handling
- File input / output
  - CSV files
  - JSON files

## Python Strings (continued)

[Chapter 6 – Manipulating Strings](https://automatetheboringstuff.com/2e/chapter6/) (Automate the Boring Stuff)

In [1]:
for name in dir(str):
    if not name.startswith("_"):
        print(name)

capitalize
casefold
center
count
encode
endswith
expandtabs
find
format
format_map
index
isalnum
isalpha
isascii
isdecimal
isdigit
isidentifier
islower
isnumeric
isprintable
isspace
istitle
isupper
join
ljust
lower
lstrip
maketrans
partition
removeprefix
removesuffix
replace
rfind
rindex
rjust
rpartition
rsplit
rstrip
split
splitlines
startswith
strip
swapcase
title
translate
upper
zfill

In [2]:
help(str.startswith)

Help on method_descriptor:

startswith(...) unbound builtins.str method
    S.startswith(prefix[, start[, end]]) -> bool

    Return True if S starts with the specified prefix, False otherwise.
    With optional start, test S beginning at that position.
    With optional end, stop comparing S at that position.
    prefix can also be a tuple of strings to try.

In [3]:
help(str.strip)

Help on method_descriptor:

strip(self, chars=None, /) unbound builtins.str method
    Return a copy of the string with leading and trailing whitespace removed.

    If chars is given and not None, remove characters in chars instead.

In [4]:
text = "   Uldis   "

In [5]:
# strip removes whitespace from start and end of the string
text.strip()

'Uldis'

In [6]:
text.lstrip()

'Uldis   '

In [7]:
text.rstrip()

'   Uldis'

### Checking if string contains a substring

In [8]:
text2 = "This is an example"

In [9]:
text2.startswith("This")

True

In [10]:
text2.startswith("example")

False

In [11]:
text2.endswith("example")

True

In [12]:
# checking for substring
"is an" in text2

True

In [ ]:
# let's put that in the if command:

if "is an" in text2:
    print("Substring found!")

In [13]:
# position of the 1st match

text2.index(" is ")

4

In [14]:
text2[4:]

' is an example'

In [15]:
help(str.index)

Help on method_descriptor:

index(...) unbound builtins.str method
    S.index(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Raises ValueError when the substring is not found.

In [16]:
text2.index("not found")

ValueError: substring not found

In [17]:
help(str.find)

Help on method_descriptor:

find(...) unbound builtins.str method
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [18]:
text2.find("not found")

-1

In [19]:
text2.find(" is ")

4

In [20]:
# how many times does a substring occur in text2?

text2.count("is")

2

### Different types of text content

In [23]:
text_str = "Just a string"
text_alpha = "Nospaceshere"
text_num = "123456"
text_alnum = "Password123"
text_upper = "THIS IS IMPORTANT"
text_lower = "nothing to see here"
text_whitespace = "   \t "

In [24]:
help(str.isalpha)

Help on method_descriptor:

isalpha(self, /) unbound builtins.str method
    Return True if the string is an alphabetic string, False otherwise.

    A string is alphabetic if all characters in the string are alphabetic and there
    is at least one character in the string.

In [25]:
text_alpha.isalpha()

True

In [26]:
"Kautkādsteksts".isalpha()

True

In [27]:
# False, because of whitespace characters
text_str.isalpha()

False

In [28]:
text_num.isnumeric()

True

In [29]:
# False, because the string contains a dot
"123.45".isnumeric()

False

In [30]:
text_alnum.isalnum()

True

In [31]:
text_upper.isupper()

True

In [32]:
text_lower.islower()

True

In [33]:
text_whitespace.isspace()

True

### Justifying strings

In [34]:
text3 = "123"
text3

'123'

In [35]:
text4 = "567890"

In [36]:
text3.ljust(10)

'123       '

In [37]:
text3.center(10)

'   123    '

In [38]:
print(text3.rjust(10))
print(text4.rjust(10))

       123
    567890

## Exceptions, Error Hadling

Exceptions and try/except commands let us handle ("catch") error situations.

- https://docs.python.org/3/tutorial/errors.html
- https://realpython.com/python-exceptions/

In [39]:
# Syntax errors (found before a program is run)

print("Missing end bracket"

SyntaxError: incomplete input (2057294690.py, line 3)

In [40]:
text

'   Uldis   '

In [41]:
# Exceptions (raised when program is run)
# in this case: can not convert this string to an integer

print(int(text))

ValueError: invalid literal for int() with base 10: '   Uldis   '

In [42]:
print(int("123"))

123

In [43]:
int("123.45")

ValueError: invalid literal for int() with base 10: '123.45'

In [44]:
# Division by 0 error

print(100/0)

ZeroDivisionError: division by zero

In [45]:
# We can catch exceptions and do something with them

try:
    result = 100/0
    print(result)
    
except ZeroDivisionError as error:
    print("Can not divide by 0")
    
print("Continue executing the program")

Can not divide by 0
Continue executing the program

In [48]:
# "else" block is executed if there was no exception

n = 2

try:
    result = 100/n
    
except ZeroDivisionError as error:
    print("Can not divide by 0")
    
else:
    print("In 'else' block.")
    print("Result is", result)

In 'else' block.
Result is 50.0

In [51]:
a = input("Enter an integer value: ")

try:
    b = int(a)
    
except ValueError:
    print("Text must be an integer value")

Enter an integer value:  123

In [52]:
b

123

### Raising exceptions

In [53]:
# Your code may also raise exceptions

i = -5

if i < 1:
    raise Exception("Must be a positive number")

Exception: Must be a positive number

In [54]:
def test_pos_num(arg):
    
    if arg < 1:
        raise Exception("Must be a positive number")

In [55]:
test_pos_num(5)

In [56]:
test_pos_num(-1)

Exception: Must be a positive number

In [57]:
# Let's catch this exception

try:
    test_pos_num(i)
    
except Exception as error:
    print(error)
    
print("Program continues running.")

Must be a positive number
Program continues running.

### Exercise

Write a program that asks a user to input an integer value.
- if the value is an integer, print this value
- if it is not an integer, print an error message and ask the user to input an integer number again (until they input a valid integer value)

In [59]:

while True:
    
  a = input("Enter an integer value: ")

  try:
    b = int(a)
    print(b)
    break
    
  except ValueError:
    print("Text must be an integer value")

Enter an integer value:  12

12

## File Input / Output

- https://docs.python.org/3/tutorial/inputoutput.html#reading-and-writing-files
- [Chapter 9 – Reading and Writing Files](https://automatetheboringstuff.com/2e/chapter9/) (Automate the Boring Stuff)

We can use Jupyter `%%writefile` to create an example file to work with.

We may also want to check what is the current directory (where the file will be created).

In [61]:
# uncomment the next line to check what is the current directory
#%pwd

In [62]:
%%writefile somefile.txt
This is an example file
that we can experiment
with.

Writing somefile.txt

In [64]:
## Linux and Mac
#%ls

## Windows
#!dir

### Directories and file paths

- https://realpython.com/python-pathlib/
- [Chapter 9 – Reading and Writing Files](https://automatetheboringstuff.com/2e/chapter9/) (Automate the Boring Stuff)

In [65]:
# let's import the Path class
from pathlib import Path

In [66]:
# now we can make a Path for the current directory (.)
my_path = Path(".")

In [67]:
# ... and list contents of this directory (but the list is not ordered)

for item in my_path.iterdir():
    print(item)

06 - Strings, File Input and Output.ipynb
somefile.txt
.ipynb_checkpoints
02 - Python Introduction.ipynb
05 - Python Libraries.ipynb

In [68]:
# let's order the file list

for item in sorted(my_path.iterdir()):
    print(item)

.ipynb_checkpoints
02 - Python Introduction.ipynb
05 - Python Libraries.ipynb
06 - Strings, File Input and Output.ipynb
somefile.txt

In [69]:
# .glob() method lets us look for files matching the given pattern
# * = means any text

for item in my_path.glob("*.txt"):
    print(item)

somefile.txt

In [70]:
# we can also look for files in subdirectories of the given directory

# .. = the directory "above" the current directory in the directory tree
my_path2 = Path("..")

for item in my_path2.glob("**/05*"):
    print(item)

../05 - Python Libraries.ipynb
../in-class/05 - Python Libraries.ipynb
../.ipynb_checkpoints/05 - Python Libraries-checkpoint.ipynb
../in-class/.ipynb_checkpoints/05 - Python Libraries-checkpoint.ipynb

### Reading a file

Now that we have found some files, we can look at reading and writing files.

In [71]:
fname = "somefile.txt"

In [72]:
file = open(fname, encoding="utf-8")

In [73]:
help(file)

Help on TextIOWrapper in module _io object:

class TextIOWrapper(_TextIOBase)
 |  TextIOWrapper(buffer, encoding=None, errors=None, newline=None, line_buffering=False, write_through=False)
 |
 |  Character and line based layer over a BufferedIOBase object, buffer.
 |
 |  encoding gives the name of the encoding that the stream will be
 |  decoded or encoded with. It defaults to locale.getencoding().
 |
 |  errors determines the strictness of encoding and decoding (see
 |  help(codecs.Codec) or the documentation for codecs.register) and
 |  defaults to "strict".
 |
 |  newline controls how line endings are handled. It can be None, '',
 |  '\n', '\r', and '\r\n'.  It works as follows:
 |
 |  * On input, if newline is None, universal newlines mode is
 |    enabled. Lines in the input can end in '\n', '\r', or '\r\n', and
 |    these are translated into '\n' before being returned to the
 |    caller. If it is '', universal newline mode is enabled, but line
 |    endings are returned to the caller untranslated. If it has any of
 |    the other legal values, input lines are only terminated by the given
 |    string, and the line ending is returned to the caller untranslated.
 |
 |  * On output, if newline is None, any '\n' characters written are
 |    translated to the system default line separator, os.linesep. If
 |    newline is '' or '\n', no translation takes place. If newline is any
 |    of the other legal values, any '\n' characters written are translated
 |    to the given string.
 |
 |  If line_buffering is True, a call to flush is implied when a call to
 |  write contains a newline character.
 |
 |  Method resolution order:
 |      TextIOWrapper
 |      _TextIOBase
 |      _IOBase
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __reduce_ex__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  close(self, /)
 |      Flush and close the IO object.
 |
 |      This method has no effect if the file is already closed.
 |
 |  detach(self, /)
 |      Separate the underlying buffer from the TextIOBase and return it.
 |
 |      After the underlying buffer has been detached, the TextIO is in an unusable state.
 |
 |  fileno(self, /)
 |      Return underlying file descriptor if one exists.
 |
 |      Raise OSError if the IO object does not use a file descriptor.
 |
 |  flush(self, /)
 |      Flush write buffers, if applicable.
 |
 |      This is not implemented for read-only and non-blocking streams.
 |
 |  isatty(self, /)
 |      Return whether this is an 'interactive' stream.
 |
 |      Return False if it can't be determined.
 |
 |  read(self, size=-1, /)
 |      Read at most size characters from stream.
 |
 |      Read from underlying buffer until we have size characters or we hit EOF.
 |      If size is negative or omitted, read until EOF.
 |
 |  readable(self, /)
 |      Return whether object was opened for reading.
 |
 |      If False, read() will raise OSError.
 |
 |  readline(self, size=-1, /)
 |      Read until newline or EOF.
 |
 |      Return an empty string if EOF is hit immediately.
 |      If size is specified, at most size characters will be read.
 |
 |  reconfigure(self, /, *, encoding=None, errors=None, newline=None, line_buffering=None, write_through=None)
 |      Reconfigure the text stream with new parameters.
 |
 |      This also does an implicit stream flush.
 |
 |  seek(self, cookie, whence=0, /)
 |      Set the stream position, and return the new stream position.
 |
 |        cookie
 |          Zero or an opaque number returned by tell().
 |        whence
 |          The relative position to seek from.
 |
 |      Four operations are supported, given by the following argument
 |      combinations:
 |
 |      - seek(0, SEEK_SET): Rewind to the start of the stream.
 |      - seek(cookie, SEEK_SET): Restore a previous position;
 |        'cookie' must be a number returned by tell().
 |      - seek(0, SEEK_END): Fast-forward to the end of the stream.
 |      - seek(0, SEEK_CUR): Leave the current stream position unchanged.
 |
 |      Any other argument combinations are invalid,
 |      and may raise exceptions.
 |
 |  seekable(self, /)
 |      Return whether object supports random access.
 |
 |      If False, seek(), tell() and truncate() will raise OSError.
 |      This method may need to do a test seek().
 |
 |  tell(self, /)
 |      Return the stream position as an opaque number.
 |
 |      The return value of tell() can be given as input to seek(), to restore a
 |      previous stream position.
 |
 |  truncate(self, pos=None, /)
 |      Truncate file to size bytes.
 |
 |      File pointer is left unchanged. Size defaults to the current IO position
 |      as reported by tell(). Return the new size.
 |
 |  writable(self, /)
 |      Return whether object was opened for writing.
 |
 |      If False, write() will raise OSError.
 |
 |  write(self, text, /)
 |      Write string s to stream.
 |
 |      Return the number of characters written
 |      (which is always equal to the length of the string).
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  buffer
 |
 |  closed
 |
 |  encoding
 |      Encoding of the text stream.
 |
 |      Subclasses should override.
 |
 |  errors
 |      The error setting of the decoder or encoder.
 |
 |      Subclasses should override.
 |
 |  line_buffering
 |
 |  name
 |
 |  newlines
 |      Line endings translated so far.
 |
 |      Only line endings translated during reading are considered.
 |
 |      Subclasses should override.
 |
 |  write_through
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from _IOBase:
 |
 |  __del__(...)
 |
 |  __enter__(...)
 |
 |  __exit__(...)
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  readlines(self, hint=-1, /)
 |      Return a list of lines from the stream.
 |
 |      hint can be specified to control the number of lines read: no more
 |      lines will be read if the total size (in bytes/characters) of all
 |      lines so far exceeds hint.
 |
 |  writelines(self, lines, /)
 |      Write a list of lines to stream.
 |
 |      Line separators are not added, so it is usual for each of the
 |      lines provided to have a line separator at the end.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from _IOBase:
 |
 |  __dict__

In [74]:
help(file.read)

Help on built-in function read:

read(size=-1, /) method of _io.TextIOWrapper instance
    Read at most size characters from stream.

    Read from underlying buffer until we have size characters or we hit EOF.
    If size is negative or omitted, read until EOF.

In [75]:
data = file.read()

print(data)

This is an example file
that we can experiment
with.

In [76]:
# it is good practice to close a file when you're done with it
file.close()

### Automatically closing a file using `with`

In [77]:
with open(fname, encoding="utf-8") as file:
    data = file.read()

# file is closed automatically when the `with` block ends

print(data)

This is an example file
that we can experiment
with.

In [78]:
# we can also iterate (go through) a file line by line

with open(fname) as file:
    
    for line in file:
        print(">", line)

> This is an example file

> that we can experiment

> with.

In [79]:
with open(fname) as file:
    
    for line in file:
        print(">", repr(line))

> 'This is an example file\n'
> 'that we can experiment\n'
> 'with.\n'

In [80]:
# let's get rid of the empty lines

with open(fname) as file:
    
    for line in file:
        line = line.strip()
        print(">", line)

> This is an example file
> that we can experiment
> with.

### Writing a file

Note: it is **important** to **close a file** after writing is finished. The `with` command does it automatically.

In [81]:
fname_out = "test123.txt"

text = """
This is an example text string.

f.write(string) writes the contents of string to the file, returning the number of characters written.
"""

with open(fname_out, "w", encoding="utf-8") as file_out:
    
    file_out.write(text)
    
    file_out.write(str(123) + "\n")
    file_out.write(str(456) + "\n")

In [82]:
# Read a file to see what was written to it

def read_file(fname):

    with open(fname) as file:
        data = file.read()
        print(data)
        
read_file(fname_out)

This is an example text string.

f.write(string) writes the contents of string to the file, returning the number of characters written.
123
456

In [83]:
# You can also use print() to write to a file

with open(fname_out, "w", encoding="utf-8") as file_out:

    print(text, file=file_out)
    print(str(123), file=file_out)
    print(str(789), file=file_out)

In [84]:
read_file(fname_out)

This is an example text string.

f.write(string) writes the contents of string to the file, returning the number of characters written.

123
789

### CSV files

- https://docs.python.org/3/library/csv.html
- https://realpython.com/python-csv/

Comma-Separated Values
- rows of values (table cells) separated using a "," character (or using another separator)
- ar komatu (vai citu atdalītāju) atdalītas vērtības

---

#### Open Data in CSV format

Download COVID-19 open dataset (or any other CSV dataset) from data.gov.lv and put it in the current directory:
- https://data.gov.lv/dati/lv/dataset/stacionaru-operativie-dati-par-covid19

In [85]:
fname_csv = "covidpatients.csv"

In [86]:
from itertools import islice

In [88]:
with open(fname_csv, encoding="utf-8") as file_csv:

    # here we use islice() to limit the input data to 10 records
    first_10_rows = islice(file_csv, 10)
    
    for line in first_10_rows:
        print(line)

Datums;ĀI kods;ĀI nosaukums;Kopā;Jauni;Pamata diagnoze;Blakus diagnoze;Smaga slimības gaita;t.sk. Invazīva MPV;Vidēja slimības gaita;Miruši;Izrakstīti;Pārvesti;t.sk. uz augstāka līmeņa;t.sk. uz zemāka līmeņa;t.sk. uz tāda paša līmeņa

2022-02-01T00:00:00;320200001-01;Aizkraukles slimnīca;1;1;0;1;0;0;0;0;0;0;0;0;0

2022-02-01T00:00:00;360200027-01;Alūksnes slimnīca;0;0;0;6;0;0;0;0;1;0;0;0;0

2022-02-01T00:00:00;500200052-02;Balvu un Gulbenes slimnīcu apvienība;18;;12;6;2;0;16;1;1;0;0;0;0

2022-02-01T00:00:00;400200024-01;Bauskas slimnīca;2;0;4;0;0;0;4;0;1;0;0;0;0

2022-02-01T00:00:00;010011804-01;Bērnu klīniskā universitātes slimnīca;9;5;6;3;;;9;;9;;;;2

2022-02-01T00:00:00;661400011-01;Bērnu psihoneiroloģiskā slimnīca "Ainaži";2;1;0;1;0;0;0;0;0;0;0;0;0

2022-02-01T00:00:00;420200052-01;Cēsu klīnika;11;2;11;0;1;1;8;0;0;0;0;;0

2022-02-01T00:00:00;050012101-01;Daugavpils psihoneiroloģiskā slimnīca;6;1;3;3;0;0;1;0;0;1;0;0;1

2022-02-01T00:00:00;050012101-02;Daugavpils psihoneiroloģiskās slimnīcas Aknīstes slimnīca;1;0;;1;;;1;;;;;;

In [ ]:
# A-ha! This time ";" is the separator character

In [89]:
# Let's read it as a CSV file

import csv

with open(fname_csv, encoding="utf-8") as file_csv:
    
    rdr = csv.reader(file_csv)
    
    rdr_10_rows = islice(rdr, 10)
    
    for row in rdr_10_rows:
        print(row)

['Datums;ĀI kods;ĀI nosaukums;Kopā;Jauni;Pamata diagnoze;Blakus diagnoze;Smaga slimības gaita;t.sk. Invazīva MPV;Vidēja slimības gaita;Miruši;Izrakstīti;Pārvesti;t.sk. uz augstāka līmeņa;t.sk. uz zemāka līmeņa;t.sk. uz tāda paša līmeņa']
['2022-02-01T00:00:00;320200001-01;Aizkraukles slimnīca;1;1;0;1;0;0;0;0;0;0;0;0;0']
['2022-02-01T00:00:00;360200027-01;Alūksnes slimnīca;0;0;0;6;0;0;0;0;1;0;0;0;0']
['2022-02-01T00:00:00;500200052-02;Balvu un Gulbenes slimnīcu apvienība;18;;12;6;2;0;16;1;1;0;0;0;0']
['2022-02-01T00:00:00;400200024-01;Bauskas slimnīca;2;0;4;0;0;0;4;0;1;0;0;0;0']
['2022-02-01T00:00:00;010011804-01;Bērnu klīniskā universitātes slimnīca;9;5;6;3;;;9;;9;;;;2']
['2022-02-01T00:00:00;661400011-01;Bērnu psihoneiroloģiskā slimnīca "Ainaži";2;1;0;1;0;0;0;0;0;0;0;0;0']
['2022-02-01T00:00:00;420200052-01;Cēsu klīnika;11;2;11;0;1;1;8;0;0;0;0;;0']
['2022-02-01T00:00:00;050012101-01;Daugavpils psihoneiroloģiskā slimnīca;6;1;3;3;0;0;1;0;0;1;0;0;1']
['2022-02-01T00:00:00;050012101-02;Daugavpils psihoneiroloģiskās slimnīcas Aknīstes slimnīca;1;0;;1;;;1;;;;;;']

In [90]:
# Separator is ";"

data = []

with open(fname_csv, encoding="utf-8") as file_csv:
    
    rdr = csv.reader(file_csv, delimiter=";")
    
    rdr_10_rows = islice(rdr, 10)
    
    for row in rdr_10_rows:
        print(row)
        data.append(row)

['Datums', 'ĀI kods', 'ĀI nosaukums', 'Kopā', 'Jauni', 'Pamata diagnoze', 'Blakus diagnoze', 'Smaga slimības gaita', 't.sk. Invazīva MPV', 'Vidēja slimības gaita', 'Miruši', 'Izrakstīti', 'Pārvesti', 't.sk. uz augstāka līmeņa', 't.sk. uz zemāka līmeņa', 't.sk. uz tāda paša līmeņa']
['2022-02-01T00:00:00', '320200001-01', 'Aizkraukles slimnīca', '1', '1', '0', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0']
['2022-02-01T00:00:00', '360200027-01', 'Alūksnes slimnīca', '0', '0', '0', '6', '0', '0', '0', '0', '1', '0', '0', '0', '0']
['2022-02-01T00:00:00', '500200052-02', 'Balvu un Gulbenes slimnīcu apvienība', '18', '', '12', '6', '2', '0', '16', '1', '1', '0', '0', '0', '0']
['2022-02-01T00:00:00', '400200024-01', 'Bauskas slimnīca', '2', '0', '4', '0', '0', '0', '4', '0', '1', '0', '0', '0', '0']
['2022-02-01T00:00:00', '010011804-01', 'Bērnu klīniskā universitātes slimnīca', '9', '5', '6', '3', '', '', '9', '', '9', '', '', '', '2']
['2022-02-01T00:00:00', '661400011-01', 'Bērnu psihoneiroloģiskā slimnīca "Ainaži"', '2', '1', '0', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0']
['2022-02-01T00:00:00', '420200052-01', 'Cēsu klīnika', '11', '2', '11', '0', '1', '1', '8', '0', '0', '0', '0', '', '0']
['2022-02-01T00:00:00', '050012101-01', 'Daugavpils psihoneiroloģiskā slimnīca', '6', '1', '3', '3', '0', '0', '1', '0', '0', '1', '0', '0', '1']
['2022-02-01T00:00:00', '050012101-02', 'Daugavpils psihoneiroloģiskās slimnīcas Aknīstes slimnīca', '1', '0', '', '1', '', '', '1', '', '', '', '', '', '']

In [91]:
data[0][2]

'ĀI nosaukums'

In [92]:
data[1][2]

'Aizkraukles slimnīca'

In [93]:
from pprint import pprint

pprint(data[:3])

[['Datums',
  'ĀI kods',
  'ĀI nosaukums',
  'Kopā',
  'Jauni',
  'Pamata diagnoze',
  'Blakus diagnoze',
  'Smaga slimības gaita',
  't.sk. Invazīva MPV',
  'Vidēja slimības gaita',
  'Miruši',
  'Izrakstīti',
  'Pārvesti',
  't.sk. uz augstāka līmeņa',
  't.sk. uz zemāka līmeņa',
  't.sk. uz tāda paša līmeņa'],
 ['2022-02-01T00:00:00',
  '320200001-01',
  'Aizkraukles slimnīca',
  '1',
  '1',
  '0',
  '1',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0'],
 ['2022-02-01T00:00:00',
  '360200027-01',
  'Alūksnes slimnīca',
  '0',
  '0',
  '0',
  '6',
  '0',
  '0',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0',
  '0']]

In [94]:
# Writing a CSV file

fname_out = "test_data.csv"

with open(fname_out, "w") as file_out:
    
    writer = csv.writer(file_out)
    
    for row in data:
        writer.writerow(row)

In [95]:
# we defined the read_file() function earlier 
read_file(fname_out)

Datums,ĀI kods,ĀI nosaukums,Kopā,Jauni,Pamata diagnoze,Blakus diagnoze,Smaga slimības gaita,t.sk. Invazīva MPV,Vidēja slimības gaita,Miruši,Izrakstīti,Pārvesti,t.sk. uz augstāka līmeņa,t.sk. uz zemāka līmeņa,t.sk. uz tāda paša līmeņa
2022-02-01T00:00:00,320200001-01,Aizkraukles slimnīca,1,1,0,1,0,0,0,0,0,0,0,0,0
2022-02-01T00:00:00,360200027-01,Alūksnes slimnīca,0,0,0,6,0,0,0,0,1,0,0,0,0
2022-02-01T00:00:00,500200052-02,Balvu un Gulbenes slimnīcu apvienība,18,,12,6,2,0,16,1,1,0,0,0,0
2022-02-01T00:00:00,400200024-01,Bauskas slimnīca,2,0,4,0,0,0,4,0,1,0,0,0,0
2022-02-01T00:00:00,010011804-01,Bērnu klīniskā universitātes slimnīca,9,5,6,3,,,9,,9,,,,2
2022-02-01T00:00:00,661400011-01,"Bērnu psihoneiroloģiskā slimnīca ""Ainaži""",2,1,0,1,0,0,0,0,0,0,0,0,0
2022-02-01T00:00:00,420200052-01,Cēsu klīnika,11,2,11,0,1,1,8,0,0,0,0,,0
2022-02-01T00:00:00,050012101-01,Daugavpils psihoneiroloģiskā slimnīca,6,1,3,3,0,0,1,0,0,1,0,0,1
2022-02-01T00:00:00,050012101-02,Daugavpils psihoneiroloģiskās slimnīcas Aknīstes slimnīca,1,0,,1,,,1,,,,,,

#### Reading files using Pandas

- https://realpython.com/python-csv/#parsing-csv-files-with-the-pandas-library

- https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html#pandas.DataFrame.to_csv

In [ ]:
#!pip install pandas

In [96]:
import pandas as pd

In [97]:
print(fname_csv)

covidpatients.csv

In [98]:
dataframe = pd.read_csv(fname_csv, delimiter=";")

dataframe[:10]

,Datums,ĀI kods,ĀI nosaukums,Kopā,Jauni,Pamata diagnoze,Blakus diagnoze,Smaga slimības gaita,t.sk. Invazīva MPV,Vidēja slimības gaita,Miruši,Izrakstīti,Pārvesti,t.sk. uz augstāka līmeņa,t.sk. uz zemāka līmeņa,t.sk. uz tāda paša līmeņa
0,2022-02-01T00:00:00,320200001-01,Aizkraukles slimnīca,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022-02-01T00:00:00,360200027-01,Alūksnes slimnīca,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,2022-02-01T00:00:00,500200052-02,Balvu un Gulbenes slimnīcu apvienība,18.0,NaN,12.0,6.0,2.0,0.0,16.0,1.0,1.0,0.0,0.0,0.0,0.0
3,2022-02-01T00:00:00,400200024-01,Bauskas slimnīca,2.0,0.0,4.0,0.0,0.0,0.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0
4,2022-02-01T00:00:00,010011804-01,Bērnu klīniskā universitātes slimnīca,9.0,5.0,6.0,3.0,NaN,NaN,9.0,NaN,9.0,NaN,NaN,NaN,2.0
5,2022-02-01T00:00:00,661400011-01,"Bērnu psihoneiroloģiskā slimnīca ""Ainaži""",2.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2022-02-01T00:00:00,420200052-01,Cēsu klīnika,11.0,2.0,11.0,0.0,1.0,1.0,8.0,0.0,0.0,0.0,0.0,NaN,0.0
7,2022-02-01T00:00:00,050012101-01,Daugavpils psihoneiroloģiskā slimnīca,6.0,1.0,3.0,3.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
8,2022-02-01T00:00:00,050012101-02,Daugavpils psihoneiroloģiskās slimnīcas Aknīst...,1.0,0.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
9,2022-02-01T00:00:00,050020401-01,Daugavpils reģionālā slimnīca,81.0,10.0,59.0,22.0,4.0,1.0,55.0,1.0,10.0,NaN,NaN,NaN,NaN

In [99]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14434 entries, 0 to 14433
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Datums                     14434 non-null  object
 1   ĀI kods                    14434 non-null  object
 2   ĀI nosaukums               14434 non-null  object
 3   Kopā                       14257 non-null  float64
 4   Jauni                      12355 non-null  float64
 5   Pamata diagnoze            11786 non-null  float64
 6   Blakus diagnoze            13536 non-null  float64
 7   Smaga slimības gaita       10028 non-null  float64
 8   t.sk. Invazīva MPV         9338 non-null   float64
 9   Vidēja slimības gaita      11560 non-null  float64
 10  Miruši                     9790 non-null   float64
 11  Izrakstīti                 11649 non-null  float64
 12  Pārvesti                   8527 non-null   float64
 13  t.sk. uz augstāka līmeņa   7878 non-null   float64
 14  t.sk. uz zemāka līmeņa     7854 non-null   float64
 15  t.sk. uz tāda paša līmeņa  7635 non-null   float64
dtypes: float64(13), object(3)
memory usage: 1.8+ MB

In [100]:
dataframe.head()

,Datums,ĀI kods,ĀI nosaukums,Kopā,Jauni,Pamata diagnoze,Blakus diagnoze,Smaga slimības gaita,t.sk. Invazīva MPV,Vidēja slimības gaita,Miruši,Izrakstīti,Pārvesti,t.sk. uz augstāka līmeņa,t.sk. uz zemāka līmeņa,t.sk. uz tāda paša līmeņa
0,2022-02-01T00:00:00,320200001-01,Aizkraukles slimnīca,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022-02-01T00:00:00,360200027-01,Alūksnes slimnīca,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,2022-02-01T00:00:00,500200052-02,Balvu un Gulbenes slimnīcu apvienība,18.0,NaN,12.0,6.0,2.0,0.0,16.0,1.0,1.0,0.0,0.0,0.0,0.0
3,2022-02-01T00:00:00,400200024-01,Bauskas slimnīca,2.0,0.0,4.0,0.0,0.0,0.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0
4,2022-02-01T00:00:00,010011804-01,Bērnu klīniskā universitātes slimnīca,9.0,5.0,6.0,3.0,NaN,NaN,9.0,NaN,9.0,NaN,NaN,NaN,2.0

In [101]:
dataframe[2:4]

,Datums,ĀI kods,ĀI nosaukums,Kopā,Jauni,Pamata diagnoze,Blakus diagnoze,Smaga slimības gaita,t.sk. Invazīva MPV,Vidēja slimības gaita,Miruši,Izrakstīti,Pārvesti,t.sk. uz augstāka līmeņa,t.sk. uz zemāka līmeņa,t.sk. uz tāda paša līmeņa
2,2022-02-01T00:00:00,500200052-02,Balvu un Gulbenes slimnīcu apvienība,18.0,NaN,12.0,6.0,2.0,0.0,16.0,1.0,1.0,0.0,0.0,0.0,0.0
3,2022-02-01T00:00:00,400200024-01,Bauskas slimnīca,2.0,0.0,4.0,0.0,0.0,0.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0

In [102]:
df2 = dataframe[["ĀI nosaukums", "Kopā"]]

df2[:5]

                            ĀI nosaukums  Kopā
0                   Aizkraukles slimnīca   1.0
1                      Alūksnes slimnīca   0.0
2   Balvu un Gulbenes slimnīcu apvienība  18.0
3                       Bauskas slimnīca   2.0
4  Bērnu klīniskā universitātes slimnīca   9.0

In [103]:
dataframe["Kopā"].sum()

np.float64(163894.0)

In [104]:
# Writing to a CSV file

fname_out_pandas = "test_pandas.csv"
df2.to_csv(fname_out_pandas)

In [105]:
# Print contents of the CSV file

with open(fname_out_pandas, encoding="utf-8") as in_file:
    
    data = islice(in_file, 6)
    
    for line in data:
        print(line, end="")

,ĀI nosaukums,Kopā
0,Aizkraukles slimnīca,1.0
1,Alūksnes slimnīca,0.0
2,Balvu un Gulbenes slimnīcu apvienība,18.0
3,Bauskas slimnīca,2.0
4,Bērnu klīniskā universitātes slimnīca,9.0

### JSON files

JSON (JavaScript Object Notation) files let us save Python data hierarchies (dictionaries, lists, ...) to a file / read them from a file.

https://www.json.org/json-en.html

```
json_object = {
  "key 1": "value 1",
  "key 2": ["value 2", "is", "a", "list"],
  "key 3": {"lists and dictionaries": "can be nested"}
}
```

To do this, we can use Python [json](https://docs.python.org/3/library/json.html) library:

- json.dump() – save structured data to a JSON file
- json.load() – read structured data from a JSON file

- json.dumps() – return structured data as a JSON string
- json.loads() – read structured data from a JSON string

In [106]:
import json

In [107]:
# data to be saved

data = {
  "key 1": "value 1",
  "key 2": ["value 2", "is", "a", "list"],
  "key 3": {"lists and dictionaries": "can be nested"}
}

In [108]:
data

{'key 1': 'value 1',
 'key 2': ['value 2', 'is', 'a', 'list'],
 'key 3': {'lists and dictionaries': 'can be nested'}}

In [109]:
# save data to a JSON file

json_file_name = "test_data.json"

with open(json_file_name, "w", encoding="utf-8") as file_out:

    # write the data object to a JSON file
    json.dump(data, file_out)

In [110]:
# let's look at the file that we created

with open(json_file_name, "r", encoding="utf-8") as file_in:
    for line in file_in:
        print(line)

{"key 1": "value 1", "key 2": ["value 2", "is", "a", "list"], "key 3": {"lists and dictionaries": "can be nested"}}

In [111]:
# now we can load this file back in, into a new variable

with open(json_file_name, "r", encoding="utf-8") as file_in:
    
    new_data = json.load(file_in)

In [112]:
new_data

{'key 1': 'value 1',
 'key 2': ['value 2', 'is', 'a', 'list'],
 'key 3': {'lists and dictionaries': 'can be nested'}}

## Summary

- Text strings (continued)
- Exceptions and error handling
- File input / output
  - CSV files
  - JSON files