In [1]:
# Import Plotly and check its version
import plotly
print(f"Plotly version: {plotly.__version__}")

# Import Pandas
import pandas as pd

Plotly version: 5.24.1

## Plotly

Documentation: https://plotly.com/python/

We will use Plotly Express – a simple, high-level approach to creating Plotly visualizations.
- Plotly Express documentation: https://plotly.com/python/plotly-express/

In [6]:
import plotly.express as px

# Needed to get visualizations working in Jupyter notebooks
import plotly.io as pio

pio.renderers.default = 'iframe'

# If you are using Google Colab, uncomment this line:
# pio.renderers.default = 'colab'

In [7]:
# Load the Gapminder dataset + query for a given country
df_gap = px.data.gapminder()
df_fin = df_gap.query("country=='Finland'")

# Let's draw a line plot
# https://plotly.com/python/line-charts/
fig = px.line(df_fin, x="year", y="lifeExp", title='Life expectancy in Finland')
fig.show()

In [9]:
# https://plotly.com/python/plotly-express/

df_iris = px.data.iris()

df_iris

,sepal_length,sepal_width,petal_length,petal_width,species,species_id
0,5.1,3.5,1.4,0.2,setosa,1
1,4.9,3.0,1.4,0.2,setosa,1
2,4.7,3.2,1.3,0.2,setosa,1
3,4.6,3.1,1.5,0.2,setosa,1
4,5.0,3.6,1.4,0.2,setosa,1
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,3
146,6.3,2.5,5.0,1.9,virginica,3
147,6.5,3.0,5.2,2.0,virginica,3
148,6.2,3.4,5.4,2.3,virginica,3
149,5.9,3.0,5.1,1.8,virginica,3

In [11]:
# https://plotly.com/python-api-reference/generated/plotly.express.data.html

help(px.data)

Help on package plotly.express.data in plotly.express:

NAME
    plotly.express.data - Built-in datasets for demonstration, educational and test purposes.

PACKAGE CONTENTS


FUNCTIONS
    carshare()
        Each row represents the availability of car-sharing services near the centroid of a zone
        in Montreal over a month-long period.

        Returns:
            A `pandas.DataFrame` with 249 rows and the following columns:
            `['centroid_lat', 'centroid_lon', 'car_hours', 'peak_hour']`.

    election()
        Each row represents voting results for an electoral district in the 2013 Montreal
        mayoral election.

        Returns:
            A `pandas.DataFrame` with 58 rows and the following columns:
            `['district', 'Coderre', 'Bergeron', 'Joly', 'total', 'winner', 'result', 'district_id']`.

    election_geojson()
        Each feature represents an electoral district in the 2013 Montreal mayoral election.

        Returns:
            A GeoJSON-formatted `dict` with 58 polygon or multi-polygon features whose `id`
            is an electoral district numerical ID and whose `district` property is the ID and
            district name.

    experiment(indexed=False)
        Each row in this wide dataset represents the results of 100 simulated participants
        on three hypothetical experiments, along with their gender and control/treatment group.


        Returns:
            A `pandas.DataFrame` with 100 rows and the following columns:
            `['experiment_1', 'experiment_2', 'experiment_3', 'gender', 'group']`.
            If `indexed` is True, the data frame index is named "participant"

    gapminder(datetimes=False, centroids=False, year=None, pretty_names=False)
        Each row represents a country on a given year.

        https://www.gapminder.org/data/

        Returns:
            A `pandas.DataFrame` with 1704 rows and the following columns:
            `['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap',
            'iso_alpha', 'iso_num']`.
            If `datetimes` is True, the 'year' column will be a datetime column
            If `centroids` is True, two new columns are added: ['centroid_lat', 'centroid_lon']
            If `year` is an integer, the dataset will be filtered for that year

    iris()
        Each row represents a flower.

        https://en.wikipedia.org/wiki/Iris_flower_data_set

        Returns:
            A `pandas.DataFrame` with 150 rows and the following columns:
            `['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species', 'species_id']`.

    medals_long(indexed=False)
        This dataset represents the medal table for Olympic Short Track Speed Skating for the
        top three nations as of 2020.

        Returns:
            A `pandas.DataFrame` with 9 rows and the following columns:
            `['nation', 'medal', 'count']`.
            If `indexed` is True, the 'nation' column is used as the index.

    medals_wide(indexed=False)
        This dataset represents the medal table for Olympic Short Track Speed Skating for the
        top three nations as of 2020.

        Returns:
            A `pandas.DataFrame` with 3 rows and the following columns:
            `['nation', 'gold', 'silver', 'bronze']`.
            If `indexed` is True, the 'nation' column is used as the index and the column index
            is named 'medal'

    stocks(indexed=False, datetimes=False)
        Each row in this wide dataset represents closing prices from 6 tech stocks in 2018/2019.

        Returns:
            A `pandas.DataFrame` with 100 rows and the following columns:
            `['date', 'GOOG', 'AAPL', 'AMZN', 'FB', 'NFLX', 'MSFT']`.
            If `indexed` is True, the 'date' column is used as the index and the column index
            If `datetimes` is True, the 'date' column will be a datetime column
            is named 'company'

    tips(pretty_names=False)
        Each row represents a restaurant bill.

        https://vincentarelbundock.github.io/Rdatasets/doc/reshape2/tips.html

        Returns:
            A `pandas.DataFrame` with 244 rows and the following columns:
            `['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size']`.

    wind()
        Each row represents a level of wind intensity in a cardinal direction, and its frequency.

        Returns:
            A `pandas.DataFrame` with 128 rows and the following columns:
            `['direction', 'strength', 'frequency']`.

DATA
    __all__ = ['carshare', 'election', 'election_geojson', 'experiment', '...

FILE
    /Users/captsolo/Documents/Code/LU_GeoPython/.venv/lib/python3.12/site-packages/plotly/express/data/__init__.py

In [10]:
fig = px.scatter(df_iris, x="sepal_width", y="sepal_length", color="species")
fig.show()

In [12]:
# statsmodels library must be installed for this example to work
# https://plotly.com/python/plotly-express/

fig = px.scatter(df_iris, x="sepal_width", y="sepal_length", color="species", marginal_y="violin",
           marginal_x="box", trendline="ols", template="simple_white")
fig.show()

In [17]:
df_gap

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

In [13]:
# https://plotly.com/python/plotly-express/

fig = px.scatter(df_gap.query("year==2007"), x="gdpPercap", y="lifeExp", size="pop", color="continent",
           hover_name="country", log_x=True, size_max=60)
fig.show()